@charset "UTF-8";

footer {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: auto;
    margin-left: -18%;
    padding: 20px 0; 
    text-align: center; 
    background-color: #3333331c; 

}
#container_footer{
  display: flex;
  padding: 20px;
  width: 50%;
}

.divfooter {
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

.divfooter h3 {
    margin-top: 1px; 
}

.divfooter ul {
    list-style: none;
}
.divfooter ul, li {
    margin: 2px;
}



.divfooter li {
    color: #222020;
    cursor: pointer;
} 
.divfooter li:hover{
    color: #948f8f;
    text-decoration: none;
    transition: color 0.3s; 
}

#mediaicons{
    padding: 15px;
}

footer p {
   justify-content: center;
   align-items: center;
   text-align: center;
    color: #474444;
    width: 100%;
}


