@charset "UTF-8";

@media only screen and (max-width: 360px) {
    body {
      font-size: 0.5em;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      max-width: 300px;
    }
    
   /*  #alcont {
        margin-left: %;
    } */
    
    #logo {
        width: 135px;
        margin-left: -70%;
    }
    
    .logo_header, #btnconsultor, .botao {
        display: inline-flex;
        align-items: center;
        text-align: center;
    }
    .logo_header {
        padding-top: 50px;
    }
    
    #navegacao_header {
       margin-left: -25%;
       position: absolute;
       padding-left: 5%;
    }
    
    
    #btnconsultor {
        max-width: 200px;
        margin-right: 5px;
        margin-left: 2px;
        border-radius: 50px;
        color: rgb(208, 6, 6);
        background-color: rgba(251, 135, 135, 0.155);
        border: none;
    }
    
    .botao {
        color: white;
        background-color: rgb(234, 5, 5);
        height: 50px;
        width: 200px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: medium;
        padding-left: 25px;
    }
  /*   #btn_loginaluno{
        padding-left: px ;
    } */
    #lupa {
        width: 32px;
        height: 35px;
    
    }
    
    #listaul {
        display: inline-flex;
        padding: 0 0 0 20px; 
        margin: 0;
        font-size: large;  
        margin-left: 15%;
        
    }
    
    #listaul li {
        list-style-type: none;
        margin-left: -25%;
        padding-left: 2%;
        margin: 0;
    }
    
    
    .apresentacao {
        display: flex;
        margin-left: -18%;
        padding: 100px;
        padding-left: 0;
        padding-left: 45px;
        width: 100vw;
        height: 600px;
        font-size: 1.5em;
        background-color: rgba(8, 97, 67, 0.253);
        overflow: hidden; 
    
    }
    
    #cont_apre {
        font-size: larger;
        padding-left: 20%;
    }
    
    #h1_apre {
        color: red;
    }
    
    #h2_apre {
        color: rgb(30, 30, 102);
    }
    
    .btneimg_apre {
        padding-top: 100px;
        
    }
    
    #jovem_apre {
        margin-left: 40%;
        margin-top: -21.6%;
        max-height: 64%;
        width: 300px;
        position: absolute;
    
    }
    
    #seta_apre {
        width: 20px;
        height: 55px;
        margin-left: 10%;
        padding-bottom: 25px;
    }
    
    #btn_apre {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.329)
    }
    
    .btntdscursos{
       display: none;
    }
}


@media only screen and (min-width: 760px) {
    
}


